html {
  box-sizing: border-box;
  padding-right: 20px;
  background-color: #222;
  color: #444;
}

.actions {
  float: left;
  padding-top: 10px;
  
  button {
    margin-top: 10px;
    display: block;
  }
}
